<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Asking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.name %></td>
        <td><%= question.asking %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Provide Answer', new_question_answer_path(question.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>