<p id="notice"><%= notice %></p>

<p>
  <strong>Question Title:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>The question:</strong>
  <%= @question.asking %>
</p>

<%=  %>

<% if @question.answers.any? %>
  
  <% @question.answers.each do |a| %>
    <div class="answer" id="<%= a.id %>">
    <strong><%= a.name %></strong><br />
    The answer: <%= a.explaining %><br />
    Answered by: <%= User.find(a.user_id).name %><br />
    Offered further help? <% if a.more_mentorship %><%= 'Yes' %>
    <%= link_to 'Add as Mentor', mentors_path, :method => :post %><br />
    <% else %><%= 'No' %><% end %>
    </div>
  <% end %>
  
<% else %>
  <p>No Answers Yet</p>
<% end %>

<%= link_to 'Refine Question', edit_question_path(@question) %>